.main{
    background-color: rgba(238, 238, 238, 0.541);
}
.header{
    margin: 0;
    width: 100%;
    display: flex;
    background-color: #F95F62;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
}

.logo-feed{
    width: 10vw;
}

.nome-header{
    padding-left: 6px;
    font-size: 4vw;
    color: black;

}

.span-header{
    color: #F95F62;
}


p { 
    color: black;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5%;
    flex-direction: column; 
}

div.top, .meio, .baixo{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 95%;
    height: 20%;
    margin-bottom: 5%;
}


a {
    text-decoration: none;
    color: white;
}

img.perfil, .auto, .info{
    height: 20vw;
    width: auto;
    padding: 3vw 3vw 0 3vw;
}


img.filtro, .quiz{
    height: 20vw;
    width: auto;
    padding: 3vw 3vw 0 3vw;
}

img.detran{
    height: 17vw;
    width: auto;
    padding: 3vw 3vw 0 3vw;
}
