.container{
    margin: 0;
    background-color: #F95F62;
}


.nome-logo{
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.nome{
    color: white;
    font-size: 5vw;
}

.logo{
    width: 30vw;
    margin-top: 20%;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 5%;
}


input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(236, 221, 108);
    color: white;  
    width: 50vw;  
    display: flex;
    text-transform: uppercase;
    font-size: 60%;
    margin-top: 15%;
}

input::-webkit-input-placeholder {
    color:white; 
}
  
  
input:focus+.span {
    transform: scale(1);
}


.span{
    background-color: #FDE74C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 50vw;
}

.btn{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 33%;
}

.button{
    margin-top: 3%;
    border: none;
    width: 50vw;
    border-radius: 4px;
    height: 8vw;
    background-color: #47525E;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 60%;
    text-decoration: none;
}



span.span-nome{
    color: #FDE74C;
}

